.anime {
    opacity: 0;
}

.bounce {
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;

}



.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;

}



.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.lightSpeedIn {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.progress {
    position: relative;
}

.progress p {
    position: absolute;
    top: 0;
    margin: auto;
    text-align: center;
    width: 100%;
}

.hover {
    width: fit-content;
    position: relative;
}

.hovered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.zoomInImage {
    transition: all 0.5s;
}

.zoomInImage:hover {
    transform: scale(1.1);
}